body { margin:0; padding:0; font-size:10px;}
#map { position:absolute; top:0; bottom:0; width:100%; height:100%}

#restore button {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 46px);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  background-color: rgb(49, 136, 9);
  box-shadow: 0px 5px 0px 0px rgb(10, 29, 1);

  font-family: 'Press Start 2P', cursive;
  font-size: 2.2em;
  text-align: center; 
  text-decoration: none;
  color: white;
}

#restore button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  text-decoration: none;
  box-shadow: 0px 2px 0px 0px rgb(10, 29, 1);
}

/* removes firefox dotted line around button text */
::-moz-focus-inner {border:0;}